body{
    padding-top: 30px;
    background-color: rgb(18, 143, 222);
    color: #FFFFFF;
    font-size: 28px;
    text-align: center;
    font-family: 'Josefin Slab', serif;
}

.bellow{
    margin:14px 0 20px 0;
    text-align: center;
}