{% load staticfiles %}
<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}" />
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
        <link href="{% static "css/general.css" %}" rel="stylesheet">
        <title>Account activated</title>
    </head>
    <body>
        <div class="container">
            <div>
                <div>
                    <img style="width:250;height:250;" src="{% static "img/icon.png" %}" />
                </div>
                <h1>Well done <strong><span style="color:yellow;">{{ user.name }}</span></strong>!</h1>
                <div class="bellow">
                    <p>Your account has been successfully activated.</p>
                    <p>Now you can user all our services in order to become a <strong><span style="color:yellow">better person</span></strong>.</p>
                    <p>Good luck in your <strong><span style="color:yellow">journey</span></strong>.</p>
                </div>
                <footer style="font-size:20px;color:yellow">
                    <strong>Copyright © 2014 by Life team</strong>
                </footer>
            </div>
        </div>
    </body>
</html>