<html>
    {% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">

    </head>
    <body style="font-family:'trebuchet MS', sans-serif;font-size:18px">
        <div style="border:1px solid black;padding:10px 10px 0 10px">
            <h2 style="color:rgb(0, 200, 230)">Hi {{ name }},</h2>
            <p>Thanks for signing up at Life! You're very close to become a better person.</p>
            <p>Please click the link bellow to finish your signing up:</p>
            <div style="text-align:center;margin:40px">
                <a href="{{ activation_url }}" style="align:center;">Activate your account</a>
            </div>
            <p style="text-align:right">Cheers, Life team.</p>
            <p style="font-size:12px">This is an automatic message, please do not reply.</p>
        </div>
    </body>
</html>